<p>
  <%= "Sample from #{sample.location} collected by #{sample.scientist}" %>
  <%= link_to "Find it here", soil_sample_path(sample.id) %>
  <%= link_to "Edit", soil_sample_edit_path(sample.id) %>
  <%= link_to "Destroy", soil_sample_path(sample), method: :delete,
                data: { :confirm => "Are you really really sure?" } %>
</p>
