<h1>SoilSamples</h1>

<% @samples.each do |s| %>
  <p>
    <%= "Sample from #{s.location} collected by #{s.scientist}" %>
    <%= link_to "Find it here", soil_sample_path(s.id) %>
    <%= link_to "Edit", soil_sample_edit_path(s.id) %>
  </p>
<% end %>
